/* styles.css */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
body {
    background-color: rgb(36, 36, 36);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 10%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size:    inherit;
}

.title {
    flex: 1;
    font-size: 35px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}
.title2 {
    flex: 1;
    font-size: 30px;
    opacity: 0;
    animation: fadeIn 0.0s ease-in-out forwards;
}
.links {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.links a {
    color: #ccc; 
    position: relative;
    text-decoration: none;
    width:  35px;
    height: 35px;
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.0s ease-in-out forwards;
}
.links a img {
    width:  30px;
    height: 30px;
}
.links a img:hover {
    width:  38px;
    height: 38px;
}
.links a span {
    position: absolute;
    bottom: -25px;
    left: -7px;
    right: 0;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
}

.links a:hover span {
    visibility: visible;
}

.home .links {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 0s;
}
.home .links a:hover {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
}

.home .links a:hover span{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
}

.portfolio {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* This will make the image round */
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 1s;
}

.photo-text {
    display: flex;
    gap: 10px;
    align-items: flex-start; /* This will align the photo and text to the top */
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 1s;
}

.photo {
    flex: 0.2;
    width: 100%;
    gap: 20px;
}

.text {
    flex: 0.8;
    align-items: left;
    width: 100%;
    padding-top: 160px;
    font-size: 35px;
}

.divider{
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 1s;
}

.short-bio {
    opacity: 0;
    font-size: 25px;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 2s;
}

.contact {
    padding-top: 50px;
}

.contact form label {
    display: block; /* Ensure each label occupies its own line */
    margin-bottom: 15px; /* Add margin between labels */
}

.contact form input,
.contact form textarea {
    width: 100%; /* Ensure the input fields and textarea take up full width */
    margin-bottom: 20px; /* Add margin between input fields and textarea */
    padding: 8px; /* Add padding for better visual separation */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.contact form button {
    font-size: 18px; /* Adjust the font size as needed */
    padding: 8px 15px; /* Adjust the padding to increase the button size */
}

.story{
    margin-top: 30px;
    font-size: 18px;
    color: #dce7e0;
}

.titleResume1{
    font-size: 25px;
    color: #878f8a;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 5px;
}

.titleResume2{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #c2cac5;
    
}

.titleResume3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #c2cac5;
}

.skilss {
    display: flex;
    justify-content: center;
}

.column {
    flex: 1;
}

.underline {
    text-decoration: underline;
}

.blogIntro {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    align-items: center; /* Vertically center align items */
}

.intro-photo-text {
    flex: 1; /* Allow the container to grow to fill available space */
    display: flex; /* Nested flex container */
}

.introText {
    flex: 1; /* Allow the text to grow */
    font-size: 22px;
    animation: fadeIn 1s ease-in-out forwards;
}

.introPhoto {
    flex: 0 0 auto; /* Don't allow the photo to grow or shrink */
    width: 30%; /* Adjust width */
    margin-right: 20px; /* Add margin to create space between image and text */
}

.introPhoto img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}
.blog {
    font-size: 20px;
}
.blogDivider{
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}
.blogTitle{
    margin-top: 100px;
    opacity: 0;
    font-weight: bold;
    font-size: 30px;
    animation: fadeIn 1s ease-in-out forwards;
}
.blogSubtitle{
    margin-top: 20px;
    margin-bottom: 50px;
    opacity: 0;
    font-size: 25px;
    animation: fadeIn 1s ease-in-out forwards;
}

.blogPhotoText{
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.blogText {    
    margin-left: 30px;
    flex: 1; /* Allow the text to grow */
    font-size: 23px;
    animation: fadeIn 1s ease-in-out forwards;    
}

.blogPhoto {
    flex: 0.6;
    width: 30%; /* Adjust width */
    margin-right: 0px;
}

.blogPhoto img {
    width: 100%;
    height: auto;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}
.bullet {
    margin-left: 50px;
}

.language-python{
    background-color: #000000;
}

/* Mobile-specific styles */
@media screen and (max-width: 600px) {
    .title {
        font-size: 24px;
    }
    .title2 {
        font-size: 20px;
    }
    .links a {
        width: 30px;
        height: 30px;
    }
    /* Adjust other styles as needed */
}