<!-- submit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/navigation.js" defer></script>
</head>
<body>
    <div class="title2">
        <h1>Form Submition</h1>
    </div>
    <div id="navigation"></div>
    <main>
        <p>
            <h1>Thank you <%= name %>!</h1>
            <p style="font-size: 20px;"><%= reply %></p>
        </p>
    </main>
    <footer>
        <p>&copy; 2024 Created by Lior Haim </p>
    </footer>
</body>
</html>
